.stats-card {
    margin-top: 10px;
}

.stats-title {
    font-size: 1.6em;
}

.stats-subtitle {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.3em;
}

.stats-text {
    margin-top: 0;
    margin-bottom: 0;
}

.stats-footer {
    margin-top: 0.3em;
    font-size: 0.8em;
}