.dropdown-btn > button {
    background-color: #212f3d;
    border-color: #212f3d;
    --bs-btn-active-bg:  #1c2833;
    --bs-btn-active-border-color:  #1c2833;
}

.dropdown-btn > button:hover {
    background-color: #1c2833;
    border-color: #1c2833;
}